apiVersion: v1
kind: Service
metadata:
  name: {{ include "application-service.fullname" . }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http
  selector:
    app: {{ include "application-service.name" . }}
    release: {{ .Release.Name }}
